body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:510px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u12 {
  position:absolute;
  left:30px;
  top:185px;
  width:48px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:17px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u14 {
  position:absolute;
  left:462px;
  top:185px;
  width:48px;
  height:50px;
}
#u15 {
  position:absolute;
  left:2px;
  top:17px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:178px;
}
#u16 {
  position:absolute;
  left:145px;
  top:134px;
  width:235px;
  height:178px;
}
#u17 {
  position:absolute;
  left:2px;
  top:81px;
  width:231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:57px;
}
#u18 {
  position:absolute;
  left:121px;
  top:344px;
  width:73px;
  height:57px;
}
#u19 {
  position:absolute;
  left:2px;
  top:20px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:58px;
}
#u20 {
  position:absolute;
  left:207px;
  top:344px;
  width:72px;
  height:58px;
}
#u21 {
  position:absolute;
  left:2px;
  top:21px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:58px;
}
#u22 {
  position:absolute;
  left:379px;
  top:344px;
  width:82px;
  height:58px;
}
#u23 {
  position:absolute;
  left:2px;
  top:21px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:58px;
}
#u24 {
  position:absolute;
  left:285px;
  top:344px;
  width:82px;
  height:58px;
}
#u25 {
  position:absolute;
  left:2px;
  top:21px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:57px;
}
#u26 {
  position:absolute;
  left:30px;
  top:344px;
  width:75px;
  height:57px;
}
#u27 {
  position:absolute;
  left:2px;
  top:20px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:1098px;
}
#u28 {
  position:absolute;
  left:30px;
  top:401px;
  width:425px;
  height:1098px;
}
#u29 {
  position:absolute;
  left:2px;
  top:541px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:69px;
}
#u30 {
  position:absolute;
  left:3px;
  top:16px;
  width:480px;
  height:69px;
}
#u31 {
  position:absolute;
  left:2px;
  top:26px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:151px;
  top:43px;
  width:80px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:2px;
}
#u33 {
  position:absolute;
  left:6px;
  top:43px;
  width:372px;
  height:1px;
}
#u34 {
  position:absolute;
  left:2px;
  top:-8px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:50px;
}
#u35 {
  position:absolute;
  left:13px;
  top:10px;
  width:29px;
  height:50px;
}
#u36 {
  position:absolute;
  left:2px;
  top:17px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37 {
  position:absolute;
  left:156px;
  top:15px;
  width:57px;
  height:18px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:3px;
  top:0px;
  width:50px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:136px;
}
#u40 {
  position:absolute;
  left:46px;
  top:144px;
  width:254px;
  height:136px;
}
#u41 {
  position:absolute;
  left:2px;
  top:60px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:136px;
}
#u42 {
  position:absolute;
  left:46px;
  top:144px;
  width:258px;
  height:136px;
}
#u43 {
  position:absolute;
  left:2px;
  top:60px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:136px;
}
#u44 {
  position:absolute;
  left:46px;
  top:144px;
  width:257px;
  height:136px;
}
#u45 {
  position:absolute;
  left:2px;
  top:60px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:136px;
}
#u46 {
  position:absolute;
  left:46px;
  top:144px;
  width:257px;
  height:136px;
}
#u47 {
  position:absolute;
  left:2px;
  top:60px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u12.a {
  left:0px;
  top:192px;
  width:36px;
  height:47px;
}
#u12_img.a {
  width:36px;
  height:47px;
}
#u13.a {
  top:16px;
  width:32px;
}
#u14.a {
  left:323px;
  top:192px;
  width:36px;
  height:47px;
}
#u14_img.a {
  width:36px;
  height:47px;
}
#u15.a {
  top:16px;
  width:32px;
}
#u16.a {
  left:46px;
  top:144px;
  width:257px;
  height:136px;
}
#u16_img.a {
  width:257px;
  height:136px;
}
#u17.a {
  top:60px;
  width:253px;
}
#u18.a {
  left:80px;
  width:57px;
}
#u18_img.a {
  width:57px;
}
#u19.a {
  width:53px;
}
#u20.a {
  left:147px;
  width:56px;
}
#u20_img.a {
  width:56px;
}
#u21.a {
  width:52px;
}
#u22.a {
  left:282px;
  width:64px;
}
#u22_img.a {
  width:64px;
}
#u23.a {
  width:60px;
}
#u24.a {
  left:208px;
  width:64px;
}
#u24_img.a {
  width:64px;
}
#u25.a {
  width:60px;
}
#u26.a {
  left:9px;
  width:59px;
}
#u26_img.a {
  width:59px;
}
#u27.a {
  width:55px;
}
#u28.a {
  left:23px;
  width:345px;
}
#u28_img.a {
  width:345px;
}
#u29.a {
  width:341px;
}
#u30.a {
}
#u30_img.a {
}
#u31.a {
}
#u32.a {
}
#u33.a {
  left:3px;
}
#u33_img.a {
}
#u34.a {
}
#u35.a {
  width:17px;
  height:29px;
}
#u35_img.a {
  width:17px;
  height:29px;
}
#u36.a {
  top:6px;
  width:13px;
}
#u37.a {
  width:81px;
}
#u37_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38.a {
  width:81px;
}
#u39.a {
}
#u40.a {
}
#u40_img.a {
}
#u41.a {
}
#u42.a {
}
#u42_img.a {
}
#u43.a {
}
#u44.a {
}
#u44_img.a {
}
#u45.a {
}
#u46.a {
}
#u46_img.a {
}
#u47.a {
}
