body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:618px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:110px;
}
#u132 {
  position:absolute;
  left:10px;
  top:325px;
  width:54px;
  height:110px;
}
#u133 {
  position:absolute;
  left:2px;
  top:47px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:110px;
}
#u134 {
  position:absolute;
  left:564px;
  top:311px;
  width:54px;
  height:110px;
}
#u135 {
  position:absolute;
  left:2px;
  top:47px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:613px;
}
#u136 {
  position:absolute;
  left:96px;
  top:100px;
  width:435px;
  height:613px;
}
#u137 {
  position:absolute;
  left:2px;
  top:298px;
  width:431px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:132px;
}
#u138 {
  position:absolute;
  left:34px;
  top:754px;
  width:94px;
  height:132px;
}
#u139 {
  position:absolute;
  left:2px;
  top:58px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:132px;
}
#u140 {
  position:absolute;
  left:142px;
  top:754px;
  width:94px;
  height:132px;
}
#u141 {
  position:absolute;
  left:2px;
  top:58px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:132px;
}
#u142 {
  position:absolute;
  left:250px;
  top:754px;
  width:94px;
  height:132px;
}
#u143 {
  position:absolute;
  left:2px;
  top:58px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:132px;
}
#u144 {
  position:absolute;
  left:359px;
  top:754px;
  width:94px;
  height:132px;
}
#u145 {
  position:absolute;
  left:2px;
  top:58px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:132px;
}
#u146 {
  position:absolute;
  left:473px;
  top:754px;
  width:94px;
  height:132px;
}
#u147 {
  position:absolute;
  left:2px;
  top:58px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u148 {
  position:absolute;
  left:0px;
  top:48px;
  width:200px;
  height:1px;
}
#u149 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:50px;
}
#u150 {
  position:absolute;
  left:15px;
  top:0px;
  width:29px;
  height:50px;
}
#u151 {
  position:absolute;
  left:2px;
  top:17px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u152 {
  position:absolute;
  left:158px;
  top:20px;
  width:57px;
  height:16px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:110px;
}
#u154 {
  position:absolute;
  left:315px;
  top:325px;
  width:54px;
  height:110px;
}
#u155 {
  position:absolute;
  left:2px;
  top:47px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:607px;
}
#u157 {
  position:absolute;
  left:96px;
  top:106px;
  width:435px;
  height:607px;
}
#u158 {
  position:absolute;
  left:2px;
  top:296px;
  width:431px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:607px;
}
#u159 {
  position:absolute;
  left:96px;
  top:106px;
  width:435px;
  height:607px;
}
#u160 {
  position:absolute;
  left:2px;
  top:296px;
  width:431px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:607px;
}
#u161 {
  position:absolute;
  left:96px;
  top:106px;
  width:435px;
  height:607px;
}
#u162 {
  position:absolute;
  left:2px;
  top:296px;
  width:431px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:613px;
}
#u163 {
  position:absolute;
  left:96px;
  top:100px;
  width:435px;
  height:613px;
}
#u164 {
  position:absolute;
  left:2px;
  top:298px;
  width:431px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u132.a {
  left:11px;
  top:214px;
  width:43px;
  height:88px;
}
#u132_img.a {
  width:43px;
  height:88px;
}
#u133.a {
  top:36px;
  width:39px;
}
#u134.a {
  left:314px;
  top:192px;
}
#u134_img.a {
}
#u135.a {
}
#u136.a {
  left:72px;
  top:94px;
  width:232px;
  height:327px;
}
#u136_img.a {
  width:232px;
  height:327px;
}
#u137.a {
  top:156px;
  width:228px;
}
#u138.a {
  left:6px;
  top:453px;
  width:64px;
  height:89px;
}
#u138_img.a {
  width:64px;
  height:89px;
}
#u139.a {
  top:36px;
  width:60px;
}
#u140.a {
  left:79px;
  top:453px;
  width:64px;
  height:89px;
}
#u140_img.a {
  width:64px;
  height:89px;
}
#u141.a {
  top:36px;
  width:60px;
}
#u142.a {
  left:152px;
  top:453px;
  width:64px;
  height:89px;
}
#u142_img.a {
  width:64px;
  height:89px;
}
#u143.a {
  top:36px;
  width:60px;
}
#u144.a {
  left:226px;
  top:453px;
  width:64px;
  height:89px;
}
#u144_img.a {
  width:64px;
  height:89px;
}
#u145.a {
  top:36px;
  width:60px;
}
#u146.a {
  left:303px;
  top:453px;
  width:64px;
  height:89px;
}
#u146_img.a {
  width:64px;
  height:89px;
}
#u147.a {
  top:36px;
  width:60px;
}
#u148.a {
  width:375px;
}
#u148_img.a {
  width:376px;
}
#u149.a {
  width:371px;
}
#u150.a {
  left:10px;
  top:12px;
  width:21px;
  height:31px;
}
#u150_img.a {
  width:21px;
  height:31px;
}
#u151.a {
  top:8px;
  width:17px;
}
#u152.a {
  width:81px;
  height:24px;
}
#u152_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u153.a {
  width:81px;
}
#u154.a {
  left:324px;
  top:214px;
  width:43px;
  height:88px;
}
#u154_img.a {
  width:43px;
  height:88px;
}
#u155.a {
  top:36px;
  width:39px;
}
#u156.a {
}
#u157.a {
  left:72px;
  top:94px;
  width:232px;
  height:327px;
}
#u157_img.a {
  width:232px;
  height:327px;
}
#u158.a {
  top:156px;
  width:228px;
}
#u159.a {
  left:72px;
  width:232px;
  height:315px;
}
#u159_img.a {
  width:232px;
  height:315px;
}
#u160.a {
  top:150px;
  width:228px;
}
#u161.a {
  left:72px;
  top:94px;
  width:236px;
  height:327px;
}
#u161_img.a {
  width:236px;
  height:327px;
}
#u162.a {
  top:156px;
  width:232px;
}
#u163.a {
  left:72px;
  top:94px;
  width:232px;
  height:327px;
}
#u163_img.a {
  width:232px;
  height:327px;
}
#u164.a {
  top:156px;
  width:228px;
}
